<header>
  <div>
    <nav>
      <ul>
        <% if logged_in? %>
            <ul>
			  <li><%= link_to "Movies List", users_path %></li>          	
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li>
                <%= link_to "Log out", sign_out_path, method: "delete" %>
              </li>
			</ul>
				<%= form_tag(search_path, method: :get) do %>  
				      <%= search_field_tag :query, params[:query], placeholder: "Busca" %>  
					  <%= submit_tag ("Busca") %>				    
				<% end %>
		<% else %>
          <li><%= link_to "Log in", root_path %></li>        
		<% end %>
      </ul>
    </nav>
  </div>
</header>